.App {
  text-align: center;
}
.weatherbg{
  background: url('./images/Default.jpg');
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.Haze{
  background: url('./images/haze.jpg');
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.Clouds{
  background: url('./images/Cloudy.jpg');
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.Rain{
  background: url('./images/Rain.jpg');
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.Thunderstorm{
  background: url('./images/Thunder.jpg');
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;

}

.textcolor{
  color: white;
  font-weight: 700;
}

.searchweather{
  background: url('./images/Default.jpg');
  height:75vh;
 
}
.tempretaure{
  color: white;
  font-weight: 500;
  font-size: 25px;
}

.city{
  color: white;
  font-weight: 400;
  font-size: 15px;

}

.align{
  justify-content: center;
  display:inline-grid;
}

.weatherdesc{
  
  justify-content: center;
  display:inline-grid;
  color: white;
  font-weight: 600;
  font-size: 30px;
}

.icons{
 
    font-size: 30px;
    color: #08eeee;
    cursor: pointer;
    
}





